footypicks/players/migrations
footypicks/game/migrations
footypicks/media/team-logos
footypicks/media/player-pics
footypicks/sent-emails
Sample Styles
footypicks/footypicks/app_settings/dev
db.sqlite3
__pycache__
dev
footypicks/.env