{% extends "game/base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="container main-content-area">



  <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Password reset complete</h1>
        </div>
    </div>
    <div class="m-1 post-inner-content">
      <p>Check your inbox.</p>
      <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
    </div>

</div>
{% endblock %}