{% extends "game/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<div class="container main-content-area">
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Password Reset</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="m-1 post-inner-content">
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        {% include 'game/partials/simple_form.html' %}
    </div>

</div>
{% endblock %}