{% extends "game/base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="container main-content-area">



  <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Password Reset Sent</h1>
        </div>
    </div>
    <div class="m-1 post-inner-content">
      <p>Check your inbox.</p>
      <p>If you've entered a valid email address you will receive emailed instructions for setting your password.
          You should receive the email shortly!</p>
    </div>

</div>
{% endblock %}