{% extends "game/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
{% if validlink %}
<div class="container main-content-area">
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Set a new password!</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="m-1 post-inner-content">
        {% include 'game/partials/simple_form.html' %}
    </div>

</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}