{% extends "game/base.html" %}
{% load static %}
{% block title %}Password Change{% endblock %}
{% block content %}

<div class="container main-content-area">
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Password Change</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="m-1 post-inner-content">
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        {% include 'game/partials/simple_form.html' %}
    </div>

</div>
{% endblock %}