{% extends 'game/base.html' %}
{% load static %}
{% block title %}Game Detail{% endblock %}
{% block content %}

<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row border align-right">
        <div class="col-auto">
            <a href="{% url 'game:minileague_detail' pk=game.mini_league.id %}" class="btn btn-primary">Back to League</a>
        </div>
        {% if can_predict %}
        <div class="col-auto">
            <a href="{% url 'game:game_predict' pk=game.pk %}" class="btn btn-primary">Predict</a>
        </div>
        {% endif %}
        {% if player_is_owner %}
        <div class="col-auto">
            <a href="{% url 'game:game_predict' pk=game.pk %}" class="btn btn-primary">Edit Game</a>
        </div>
        {% endif %}
    </div>
    <div class="row border">
        <div class="col">
            <h1>{{ game.mini_league.name }}</h1>
        </div>
        <div class="col-auto">
            <h3>{{ game.get_status_display }}</h3>
            <h2>{{ game }}</h2>
        </div>
    </div>
    <div class="row border">
        <div class="col-auto">
            <h5>{{ game.start_date|date:"jS M Y" }} to {{ game.end_date|date:"jS M Y" }}</h5>
        </div>
        <div class="col-auto">
            <h5>{{ game.get_status_display }} (Last update: {{ game.last_update }})</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm-3">
            <div class="row">
                <div class="col border">
                    {% include 'game/partials/side_menu.html' %}
                    {% include 'game/partials/prizes.html' with prize_table=game.prize_table %}
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-sm">
            <div class="row">
                <div class="col-lg-5 col-sm-6 border">
                    <h5>Fixtures</h5>
                    {% include 'game/partials/fixtures_table.html' with fixtures=game.fixtures.all %}
                </div>
                <div class="col-lg-4 col-sm-6 border">
                    <h5>{{ player }}'s Picks</h5>
                    {% if player_picks %}
                    {% include 'game/partials/player_predictions.html' with player_picks=player_picks %}
                    {% else %}
                    No Picks submitted
                    {% endif %}
                </div>
                <div class="col-lg-3 col-sm-9 border">
                    <h5>Leaderboard</h5>
                    {% include 'game/partials/leaderboard.html' with leaderboard=leaderboard %}
                </div>
                <dic class="col-lg-6 col-sm border">
                    <h5>Prediction Matrix</h5>
                    {% include 'game/partials/pick_matrix.html' %}
                </dic>
            </div>
        </div>
        <!--<div class="col-lg-2 col-sm-3 border">
            <h5>Scoring</h5>
            {% include 'game/partials/score_structure.html' with score=score %}
            <h5>Prize Pool</h5>
            POOL HERE
        </div>-->

    </div>
    <!--<div class="row">
        <div class="col-4 col-sm border">
            PICKS MATRIX GOES HERE
        </div>
        <div class="col-4 col-sm border">
            CHANCE OF WINNING CALCULATION GOES HERE
        </div>
    </div>-->


</div>
{% endblock %}
