{% extends "game/base.html" %}
{% load static %}

{% block content %}
<div>
    <div id="grad-reverse"></div>
    <div class="image">
          <div class="overlay">
          </div>
        </div>
    <div id="grad"></div>
</div>
<div class="container main-content-area">
    <div class="row m-1 post-inner-content">
        <div class="col-12">
            {% if user.is_authenticated %}
            <h4>Your Leagues</h4>
            {% include 'game/partials/leagues_list.html' %}
            {% else %}
            <a class="btn btn-default " href="{% url 'game:signup' %}">Sign up</a>
            {% endif %}
        </div>
        <div class="col-lg-6 col-sm border">
            <h4>Recent Fixtures</h4>
        </div>
        <div class="col-lg-6 col-sm border">
            <h4>Upcoming Fixtures</h4>
        </div>
    </div>
</div>
{% endblock %}