{% extends 'game/base.html' %}
{% load static %}
{% block title %}Game Detail{% endblock %}
{% block content %}


<div class="container-fluid main-content-area">
    <div class="row m-1">
        <div class="btn-group">
            <div class="col-auto">
                <a href="{% url 'game:minileague_detail' pk=game.mini_league.id %}" class="button btn-default read-more">Back to League</a>
            </div>
            {% if player_is_owner %}
            <div class="col-auto">
                <a href="{% url 'game:leaderboard_edit' pk=game.pk %}" class="button btn-default read-more">Edit Leaderboard</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'game:leaderboard_end' pk=game.pk %}" class="button btn-default read-more">End Leaderboard</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">{{ game.mini_league.name }}</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="row m-1">
        <div class="col-lg-10 col-sm col-md-12">
            <div class="row post-inner-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="alignleft">{{ game.name }}</h2>
                    </div>
                    <!--<div class="col-6">
                        <h3 class="alignright">{{ game.get_status_display }}</h3>
                    </div>-->
                    <div class="col-6">
                        <h5 class="alignleft">Last update: {{ game.last_update|timesince }} ago</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="alignright"><i class="fa-solid fa-fw fa-calendar-days"></i>{{ game.start_date|date:"jS M Y" }} to {{ game.end_date|date:"jS M Y" }}</h5>
                    </div>

                    <div id="grad-thin"></div>
                </div>
                <div class="col-lg-9 col-sm">
                    <h5>Leaderboard</h5>
                    {% include 'game/partials/expanded_leaderboard.html' with leaderboard=leaderboard %}
                    <!--INSERT LIST OF PLAYER PERFORMANCE BY GAMEWEEK HERE-->
                </div>
                <div class="col-lg-3">
                    <h5>Games</h5>
                    {% include 'game/partials/gameweeks_list.html' with games=games_for_lb %}
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm col-md-12">
            <div class="row well">
                <div class="col">
                    {% include 'game/partials/prizes.html' with prize_table=game.prize_table %}
                    {% include 'game/partials/side_menu.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
