{% extends 'game/base.html' %}
{% load static %}
{% block title %}Mini League{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row border align-right">
        {% if player_is_owner %}
        <div class="col-auto">
            <a href="#" class="btn btn-primary">Invite</a>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-primary">Edit Mini-League</a>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-primary">New Leaderboard</a>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-primary">New Game</a>
        </div>
        {% endif %}
        {% if player_is_member and not player_is_owner %}
        <div class="col-auto">
            <a href="#" class="btn btn-primary">Leave</a>
        </div>
        {% elif not player_is_member %}
        <div class="col-auto">
            <a href="#" class="btn btn-primary">Join</a>
        </div>
        {% endif %}
    </div>
    <div class="row border">
        <div class="col">
            <h1>{{ league.name }}</h1>
        </div>
        <div class="col-auto">
            <h2>{{ league.get_status_display }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm">
            <div class="row">
                <div class="col border">
                    {% include 'game/partials/side_menu.html' %}
                    <table class="table table-sm small border">
                        <tr>
                            <th style="width:70%;">Entry Cost per Game</th>
                            <td>&pound;{{ league.gameweek_fee }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-sm">
            <div class="row">
                <div class="col-lg-2 col-sm border">
                    <h5>League Members</h5>
                    {% include 'game/partials/league_members_list.html' with players=players %}
                </div>
                <div class="col-lg-4 col-sm border">
                    <h5>Games</h5>
                    <h6>Recent</h6>
                    {% include 'game/partials/gameweeks_list.html' with games=prev_games %}
                    <h6>Upcoming</h6>
                    {% include 'game/partials/gameweeks_list.html' with games=next_games %}
                    <h6>All</h6>
                    {% include 'game/partials/gameweeks_list.html' with games=games %}
                </div>
                <div class="col-lg-6 col-sm border">
                    <h5>Live Game</h5>
                    <div class="row">
                        <div class="col-lg-7 col-sm-6 border">
                            {% include 'game/partials/fixtures_table.html' with fixtures=game.fixtures.all %}
                        </div>
                        <div class="col-lg-5 col-sm-9 border">
                            {% include 'game/partials/leaderboard.html' with leaderboard=leaderboard %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
