{% extends 'game/base.html' %}
{% load static %}
{% block title %}Mini League{% endblock %}
{% block content %}

<div class="container-fluid main-content-area">
    <div class="row m-1">
        {% if player_is_owner %}
        <div class="btn-group">
            <div class="col-auto pr-1">
                <a href="{% url 'game:minileague_invite' pk=league.pk %}" class="button btn-default read-more">Invite</a>
            </div>
            <div class="col-auto pr-1">
                <a href="{% url 'game:minileague_edit' pk=league.pk %}" class="button btn-default read-more">Edit Mini-League</a>
            </div>
            <div class="col-auto pr-1">
                <a href="{% url 'game:leaderboard_create' %}?minileague={{ league.id }}" class="button btn-default read-more">New Leaderboard</a>
            </div>
            <div class="col-auto pr-1">
                <a href="{% url 'game:game_create'%}?minileague={{ league.id }}" class="button btn-default read-more">New Game</a>
            </div>
        </div>
        {% endif %}
        {% if not player_is_member %}
        <div class="col-auto">
            <a href="{% url 'game:minileague_join' pk=league.pk %}" class="button btn-default read-more">Join</a>
        </div>
        {% endif %}
    </div>
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">{{ league.name }}</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="row m-1">
        <div class="col-lg-2 col-sm col-md-4">
            <div class="row well">
                <div class="col-auto">
                    <h5>Entry Cost</h5>
                    <table class="table table-sm small">
                        <tr>
                            <th style="width:70%;">Per Game</th>
                            <td>&pound;{{ league.gameweek_fee }}</td>
                        </tr>
                    </table>
                    <hr class="title-line">
                    {% include 'game/partials/side_menu.html' %}
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-sm col-md-8">
            <div class="row post-inner-content">
                <div class="row">
                    <div class="col-12">
                        <h2 class="alignleft">{{ league }}</h2>
                    </div>
                    <!--<div class="col ">
                        <h3 class="alignright">{{ league.get_status_display }}</h3>
                    </div>-->
                    <div class="col-6">
                        <h5 class="alignleft">Last update: {{ league.last_update }}</h5>
                    </div>
                </div>
                <div id="grad-thin"></div>
                <div class="col-lg-2 col-sm">
                    <h5>Leaderboards</h5>
                    {% include 'game/partials/leaderboard_list.html' with leaderboards=leaderboards %}
                </div>
                <div class="col-lg-3 col-sm">
                    <h5>Games</h5>
                    {% include 'game/partials/gameweeks_list.html' with games=prev_games heading="Previous" %}
                    {% include 'game/partials/gameweeks_list.html' with games=next_games heading="Next" %}
                    <a href="{% url 'game:gameweek_list' pk=league.id %}" class="btn btn-default btn-sm">All Games</a>
                </div>
                <div class="col-lg-7 col-sm p-1">
                    <h5>{{ league.primary_leaderboard.name }} Leaderboard</h5>
                    {% include 'game/partials/expanded_leaderboard.html' with leaderboard=primary_leaderboard %}
                </div>
                {% if player_is_owner %}
                <div class="col-lg-6 col-sm-12 p-2">
                    <h5>Player Balances</h5>
                    {% include 'game/partials/gameweek_player_balances.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
