{% extends 'game/base.html' %}
{% load static %}
{% block title %}Player Profile{% endblock %}
{% block content %}

<div class="container main-content-area">
    <div class="row m-1">
        {% if request.user == player.user %}
        <div class="btn-group">
        <div class="col-auto">
            <a href="{% url 'game:player_edit' %}" class="button btn-default read-more">Edit Details</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'password_change' %}" class="button btn-default read-more">Change Password</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'game:player_transaction_new' %}" class="button btn-default read-more">Make Payment</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'game:player_transaction_new' %}" class="button btn-default read-more">Payout</a>
        </div>
        </div>
        {% endif %}
    </div>
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">{{ player }}'s Profile</h1>
        </div>
    </div>
    <div class="row m-1 post-inner-content">
        <div class="col-lg-2 col-sm-12">
            <div class="col-lg-12 col-sm">
                <h5>Personal Details</h5>
                {% if player.thumbnail %}
                <img class="p-1" src="{{ player.thumbnail.url }}" alt="Profile Picture" width="100%">
                {% else %}
                <img class="p-1" src="{% static 'game/img/default.png' %}" alt="Profile Picture" width="100%">
                {% endif %}
                <table class="table table-sm small">
                    <tr>
                        <th>Player since</th>
                        <td>{{ player.user.date_joined|date:"d/m/Y" }}</td>
                    </tr>
                    <tr>
                        <th>Prizes</th>
                        <td>&pound;{{ player.prize_transactions.1|default_if_none:0 }}</td>
                    </tr>
                    <tr>
                        <th>Games won</th>
                        <td>TBC</td>
                    </tr>
                    <tr>
                        <th>League won</th>
                        <td>TBC</td>
                    </tr>
                </table>
            </div>
            <div id="grad-thin"></div>
            <div class="col-lg-12 col-sm">
                <h5>Leagues</h5>
                {% include 'game/partials/leagues_list.html' %}
            </div>
            <div id="grad-thin"></div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="col-lg-6 col-sm">
                <h5>Current Balances</h5>
                {% if request.user.player == player %}
                {% include 'game/partials/player_balance.html' %}
                {% else %}
                <p>Restricted view</p>
                {% endif %}
            </div>
            <div id="grad-thin"></div>
            <div class="col-lg-12 col-sm ">
                <h5>Recent Transaction History</h5>
                {% if request.user.player == player %}
                {% include 'game/partials/transaction_list.html' with transactions=all_transactions %}
                <a class="btn btn-default btn-sm mb-1" href="{% url 'game:player_transactions' %}">More Transactions</a>
                {% else %}
                <p>Restricted view</p>
                {% endif %}
            </div>
            <div id="grad-thin"></div>
        </div>
        <div class="col-lg-4 col-sm">
            <div class="col-lg-12 col-sm">
                <h5>Trophy Cabinet</h5>
                <div class="row p-0">
                    {% if player.trophy_set.all %}
                    {% for trophy in player.trophy_set.all %}
                    <div class="col-auto" style="font-size:0.90em;">
                        <abbr title="{{ trophy.get_type_display }}">
                            {% if trophy.type == "CHA" %}
                            <i class="fa-solid fa-trophy gold"></i>
                            {% elif trophy.type == "ONE" %}
                            <i class="fa-solid fa-medal gold"></i>
                            {% elif trophy.type == "SEC" %}
                            <i class="fa-solid fa-medal silver"></i>
                            {% elif trophy.type == "THI" %}
                            <i class="fa-solid fa-medal bronze"></i>
                            {% elif trophy.type == "MON" %}
                            <i class="fa-solid fa-sack-dollar dollar-green"></i>
                            {% endif %}
                            {{ trophy.description }}
                        </abbr>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Even Spurs has more trophies than this!</p>
                    {% endif %}
                </div>
            </div>
            <div id="grad-thin"></div>
            <div class="col-lg-12 col-sm">
                <h5>History</h5>
                2010:<br>
                2011:<br>
                2012:<br>
                2013:<br>
            </div>
            <div id="grad-thin"></div>
        </div>
    </div>
</div>
{% endblock %}
