{% extends 'game/base.html' %}
{% load static %}
{% block title %}Game Detail{% endblock %}
{% block content %}

<div class="container main-content-area" xmlns="http://www.w3.org/1999/html">
    <div class="row m-1">
        <div class="btn-group">
            <div class="col-auto">
                <a href="{% url 'game:player_detail' pk=request.user.player.id %}" class="button btn-default read-more">Back to Profile</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'game:player_transaction_new' %}" class="button btn-default read-more">Send/Receive</a>
            </div>
        </div>
    </div>
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Transactions</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="row m-1">
        <div class="col-lg-12 col-sm">
            <div class="row post-inner-content">
                <div class="col-lg-12 col-sm">
                    <table class="table table-sm">
                        <tr>
                            <th>Total In</th>
                            <td>&pound;{{ balances.3|floatformat:2 }}</td>
                            <th>Total Out</th>
                            <td style="color: #DA4453">-&pound;{{ balances.4|floatformat:2 }}</td>
                            <th>Prizes</th>
                            <td>&pound;0.00</td>
                            <th>BALANCE</th>
                            <th>&pound;{{ balances.2|floatformat:2 }}</th>
                        </tr>
                    </table>
                    <div id="grad-thin"></div>
                    {% include 'game/partials/transaction_list.html' with transactions=object_list %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}