{% extends 'game/base.html' %}
{% load static %}
{% block title %}Game Detail{% endblock %}
{% block content %}

<div class="container main-content-area" xmlns="http://www.w3.org/1999/html">
    <div class="row m-1">
        <div class="col-auto">
            <a href="{% url 'game:player_detail' pk=request.user.player.id %}" class="button btn-default read-more">Back to Profile</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'game:player_transaction_new' %}" class="button btn-default read-more">Make Payment</a>
        </div>
        <div class="col-auto">
            <a href="{% url 'game:player_transaction_new' %}" class="button btn-default read-more">Payout</a>
        </div>
    </div>
    <div class="row m-1">
        <div class="col post-title-content">
            <h1 class="entry-title">Transactions</h1>
        </div>
    </div>
    {% include 'game/partials/messages.html' %}
    <div class="row m-1">
        <div class="col-lg-12 col-sm">
            <div class="row post-inner-content">
                <div class="col-lg-12 col-sm">
                    {% include 'game/partials/transaction_list.html' with transactions=object_list %}
                </div>
            </div>

        </div>
    </div>
</div>
    {% endblock %}