{% load humanize %}
<table class="table table-sm small table-hover w-100">
    <thead>
    <tr>
        <th style="width:5%;">Position</th>
        <th>Player</th>
        <th class="text-center">Gameweeks</th>
        <th class="text-center">Average</th>
        <th class="text-center">Max</th>
        <th class="text-center">Min</th>
        <th class="text-center">Points</th>
    </tr>
    </thead>
    {% for plr in leaderboard %}
    <tr>
        {% if forloop.first %}
        <td><i class="fa-solid fa-trophy gold"></i></td>
        {% else %}
        <td>{{ forloop.counter|ordinal }}</td>
        {% endif %}
        <th>{{ plr.name }}</th>
        <td class="text-center">{{ plr.count_gameweeks }}</td>
        <td class="text-center">{{ plr.avg_points|floatformat:2 }}</td>
        <td class="text-center">{{ plr.max_points }}</td>
        <td class="text-center">{{ plr.min_points }}</td>
        <td class="text-center"><h4>{{ plr.sum_points }}</h4></td>
    </tr>
    {% endfor %}
</table>