{% load humanize %}
<table class="table table-sm small border">
    <thead>
    <tr>
        <th style="width:5%;">Position</th>
        <th>Player</th>
        <th>Gameweeks</th>
        <th>Average</th>
        <th>Max</th>
        <th>Min</th>
        <th>Points</th>
    </tr>
    </thead>
    {% for plr in leaderboard %}
    <tr>
        <td>{{ forloop.counter|ordinal }}</td>
        <td>{{ plr.name }}</td>
        <td>{{ plr.count_gameweeks }}</td>
        <td>{{ plr.avg_points }}</td>
        <td>{{ plr.max_points }}</td>
        <td>{{ plr.min_points }}</td>
        <td>{{ plr.sum_points }}</td>
    </tr>
    {% endfor %}
</table>