<table class="table table-sm small table-hover">
    <thead>
    <th style="width:50%;">{{ heading }}</th>
        <th style="width:20%;">Start</th>
        <th style="width:20%;">End</th>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>
                <a href="{% url 'game:game_detail' game.id %}">{{ game.name }}</a>
            </td>
            <td>{{ game.start_date|date:"d/m/Y" }}</td>
            <td>{{ game.end_date|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>