{% load humanize %}
<table class="table table-sm small table-hover">
    <thead>
    <tr>
        <th style="width:5%;">Pos</th>
        <th class="text-strong">Player</th>
        <th class="text-center">Points</th>
    </tr>
    </thead>
    {% for player in game.leaderboard %}
    <tr>
        {% if forloop.first %}
        <td><i class="fa-solid fa-trophy gold"></i></td>
        {% else %}
        <td>{{ forloop.counter|ordinal }}</td>
        {% endif %}
        <td class="font-weight-bold"><a href="{% url 'game:game_detail' pk=game.pk %}?player={{ player.player.id }}">{{ player.player }}</a></td>
        <td class="text-center">{{ player.points }}</td>
    </tr>
    {% endfor %}
</table>