{% load humanize %}
{% load static %}
<table class="table table-sm small table-hover">
    <thead>
    <tr>
        <th style="width:5%;">Pos</th>
        <th class="text-strong">Player</th>
        <th class="text-center">Points</th>
    </tr>
    </thead>
    {% for player in game.leaderboard %}
    <tr class="vertical-middle">
        {% if forloop.first %}
        <td class="text-center">
            <i id="content-desktop" class="fa-solid fa-trophy gold fa-2xl"></i>
            <i id="content-mobile" class="fa-solid fa-trophy gold fa-xl"></i>
        </td>
        {% else %}
        <td class="text-center">{{ forloop.counter|ordinal }}</td>
        {% endif %}
        <th class="font-weight-bold">
            {% if player.player.thumbnail %}
            <img class="p-1" src="{{ player.player.thumbnail.url }}" alt="Profile Picture" width="30px">
            {% else %}
            <img class="p-1" src="{% static 'game/img/default.png' %}" alt="Profile Picture" width="30px">
            {% endif %}
            <a href="{% url 'game:game_detail' pk=game.pk %}?player={{ player.player.id }}">{{ player.player }}</a>
        </th>
        <td class="text-center"><h4 class="m-0">{{ player.points }}</h4></td>
    </tr>
    {% endfor %}
</table>