<table class="table table-sm small border">
    <thead>
    <tr>
        <th class="text-strong">Player</th>
        <th class="text-center">Points</th>
        <th class="text-center">Prize</th>
    </tr>
    </thead>
    {% for player in game.leaderboard %}
    <tr>
        <td class="font-weight-bold"><a href="{% url 'game:game_detail' pk=game.pk %}?player={{ player.player.id }}">{{ player.player }}</a></td>
        <td class="text-center">{{ player.points }}</td>
        <td class="text-center">£1,000,000</td>
    </tr>
    {% endfor %}
</table>