<table class="table table-sm small border">
    <thead>
    <th></th>
    <th>Player A</th>
    <th>Player B</th>
    <th>Player C</th>
    </thead>
    <tbody>
    <tr>
        <th>Game 1 | 2-2</th>
        <td>Pick 1A</td>
        <td>Pick 1B</td>
        <td>Pick 1C</td>
    </tr>
    <tr>
        <th>Game 2 | 2-1</th>
        <td>Pick 2A</td>
        <td>Pick 2B</td>
        <td>Pick 2C</td>
    </tr>
    <tr>
        <th>Game 3 | 1-2</th>
        <td>Pick 3A</td>
        <td>Pick 3B</td>
        <td>Pick 3C</td>
    </tr>
    </tbody>
</table>