<div class="row">
    <div class="col-lg-12 ">
        <h5><i class="fa-solid fa-calculator"></i> Scoring</h5>
        {% include 'game/partials/score_structure.html' with score=score %}
        <small><i class="fa-solid fa-circle-info"></i>
            Points awarded for accurate Predictions. See the About page for a detailed explanation.
        </small>
    </div>
    <hr class="title-line">
    <div class="col-lg-12 ">
        <h5><i class="fa-solid fa-ranking-star"></i> Leaderboards</h5>
        {% include 'game/partials/leaderboard_list.html' with leaderboards=leaderboards %}
        <small><i class="fa-solid fa-circle-info"></i>
            Access a different Leaderboard
        </small>
    </div>
    <hr class="title-line">
    <div class="col-lg-12 ">
        <h5><i class="fa-solid fa-dice"></i> Next 3 Games</h5>
        {% include 'game/partials/leaderboard_list.html' with leaderboards=next_games %}
        <small><i class="fa-solid fa-circle-info"></i>
            Access a future Game
        </small>
    </div>
    <hr class="title-line">
    <div class="col-lg-12 ">
        <h5><i class="fa-solid fa-dice"></i> Previous 3 Games</h5>
        {% include 'game/partials/leaderboard_list.html' with leaderboards=prev_games %}
        <small><i class="fa-solid fa-circle-info"></i>
            Access a finished Game
        </small>
    </div>
    <hr class="title-line">
</div>