<div class="row">
    <div class="col-lg-12 col-sm-4">
    <h5>Scoring</h5>
    {% include 'game/partials/score_structure.html' with score=score %}
    </div>
    <hr class="title-line">
    <div class="col-lg-12 col-sm-4">
    <h5>Leaderboards</h5>
    {% include 'game/partials/leaderboard_list.html' with leaderboards=leaderboards %}
    </div>
    <hr class="title-line">
    <div class="col-lg-12 col-sm-4">
    <h5>Games</h5>
    {% include 'game/partials/leaderboard_list.html' with leaderboards=games|slice:":5" %}
    </div>
    <hr class="title-line">
</div>