<table class="table table-sm small table-hover">
    <thead>
    <th>Type</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Cleared</th>
    <th>Note</th>
    </thead>
    {% for tran in transactions %}
    <tr>
        <td>{{ tran.get_type_display }}</td>
        <td>{{ tran.date|date:"d/m/Y" }}</td>
        <td>
            {% if tran.type == "TT" or tran.type == "O" or tran.type == "F" %}
            <span style="color: #DA4453">-
            {% endif %}
            &pound;{{ tran.amount|floatformat:2  }}
            {% if tran.type == "TT" or tran.type == "O" or tran.type == "F" %}
            </span>
            {% endif %}
        </td>
        <td>
            {% if tran.pending %}
            ...Pending...
            {% else %}
            {{ tran.confirmed_date|date:"d/m/Y" }}
            {% endif %}
        </td>
        <td>{{ tran.note|default_if_none:"" }}</td>
    </tr>
    {% endfor %}
</table>